export("clic_clusters")
export("clic_concordance")
export("clic_keyword")
export("clic_lookup")
export("clic_subset")
export("clic_tokens")
export("clic_texts")
export("clic_set_user_agent")
export("clic_get_user_agent")

importFrom("utils", "packageVersion", "head", "tail")

importFrom("data.table", "rbindlist", "setkeyv", ":=", "shift", "setDF")
importFrom("httr", "modify_url", "GET", "http_error", "http_type", "add_headers", "status_code", "content")
importFrom("jsonlite", "fromJSON")

